
#title{
    background-color: #FF4C68;
    color: white;
    
}
h1{
    font-family: 'Anton';
    font-size:3.5rem;
    line-height: 1.5;
    padding-bottom: 15px;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-family: 'Anton';
    font-size: 2.3rem;
}
.container-fluid{
padding: 3% 15% 7%;
}
.nav-item{
    font-family: 'Ubuntu-light';
    padding: 0 15px;
    font-size: 1.4rem;
    
}

.navbar{
    padding-bottom: 5rem;
}
.bran{
    font-family: 'Ubuntu';
    font-size: 3rem;
}
.ext{
    position: relative;
}

.title-image{
width: 20%;
transform: rotate(30deg);
position: absolute ;
right: 23%;
}

#features{
    background-color: white;
    position: relative;
    z-index: 1;
}
.mid-sec
{
    text-align: center;
    padding: 7% 13%;
}
.fa-regular{
    color:#FF4C68;  
    padding-bottom: 20px;
   
}

.fa-solid{
    padding-bottom: 20px;
    color:#FF4C68;
}
.hov:hover{
    color: darkorchid;
}

.p{
    font-size: 10px;
    color: #8f8f8f;
}
#testimonials{
   
   text-align: center;
   background-color: #FF4C68;
   color: white;
   font-size: rem;
   
}
.testimonial-image{
    width: 10%;
    border-radius: 80%;
    padding-top: 3%;

}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #FF4C68;
    padding-bottom: 3.7%;
    text-align: center;
}
.pre{
    padding: auto;
    width: 13%;
    margin: 7px 31px 15px;
}
#pricing{
    padding: 100px;
    text-align: center;
}

@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
        width: 60%;
        padding-top: 4%;      
    }
    #title{
        text-align: center;
    }
}
#cta{
    background-color: #FF4C68;
    color: white;
     text-align: center;
     padding: 8% 15%;
     
}
.ctta{
    font-size: 4rem;
    font-family: 'Anton';
    padding-bottom: 3.5%;
}
#footer{
    background-color: white;
    padding: 4% 0%;
    text-align: center;
}
.fat{
    margin: 0.7%;
}
